<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SWAGSWAGSWAG</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="templates/current_datetime.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron"><h1>SWAG SWAG SWAG SWAG</h1><p>The current time is {{ current_date }}</p></div>
    <a href="#">{% include 'includes/includes_test.html' %}</a>
</body>
</html>